.contenedor{
    display: flex;
    flex-direction: row;
    max-width: 95%;
    margin: 0 auto;
    height: 100%;
}

header h1{
    text-align: center;
    background-color: red;
    border-radius: .3rem;
    max-width: fit-content;
    
}

.menu{
    display: flex;
    flex-direction: column;
    list-style: none;
    line-height: 1.2rem;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    width: 20%;
    height: 55rem;
}

.menu ul {
    list-style: none;
}

.menu ul li {
    color: white;
}

.menu ul li:hover{
     cursor: pointer;
     color: green;
     transition: c;
}

.texto-derecho{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    
}

.celeste{
    background-color: aqua;
}

.amarillo{
    background-color: yellow;
}

.naranjo{
    background-color: orange;
}

.rojo{
    background-color: red;
}

.altura{
    height: 13.75rem;
}

.texto-blanco{
    color: white;
}

.text-center{
   text-align: center;
}